{% extends "base.html" %}
{% load static %}

{% block title %}
    Gachon Student Rental Service
{% endblock %}

{% block content %}
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



        <style type="text/css">


            .calendar {
                border: 1px solid black;
            }
            .select{
                border:1px solid red;
            }
        </style>
    </head>

    <body>



    <div class="calendar col-md-4"C>

        <div>calendar</div>

    </div>
    <form class="lend_form" method="POST" action="{%  url "lend" %}">
        {% csrf_token %}
        <div class="form-group row col-md-4">
            <div class="dropdown col-md-3">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">항목 선택
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">공학용 계산기</a></li>
                    <li><a href="#">고데기</a></li>
                    <li><a href="#">기타</a></li>
                </ul>
            </div>
            <div class="form-group row col-md-12">
                <label class="control-label col-md-4" for="locate">Locate</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="locate" id="locate" placeholder="장소를 입력하세요">
                </div>
            </div>
            <div class="form-group row col-md-12">
                <label class="control-label col-md-4" for="ea">EA</label>
                <div class="col-md-8">
                    <input type="number" class="form-control" name="number" id="number" placeholder="개수를 입력하세요">
                </div>
            </div>
            <div class="form-group row col-md-12">
                <label class="control-label col-md-4" for="model">Model</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="model" id="model" placeholder="모델명을 입력하세요">
                </div>
            </div>
            <div class="form-group row col-md-12">
                <label class="control-label col-md-4" for="memo">MEMO</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="memo" id="memo" placeholder="메모를 입력하세요">
                </div>
            </div>
            <div class="form-group row col-md-12">
                <div class="col-md-9">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#myModal">Submit</button>
                    {% if model %}
                        <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                        <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><storng>빌려주기 완료!</storng></h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ model }} 을(를) {{ locate }} 에서 {{ number }}개 빌려줄 수 있습니다!</p>
                        </div>
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                        </div>#}
                    {% endif %}
                    </div>
                    </div>
                    </div>
                </div>
    </form>
    </body>

{% endblock %}

