{% extends "base.html" %}
{% load static %}

{% block title %}
    Gachon Student Rental Service
{% endblock %}

{% block content %}
    <head>
        <style type="text/css">

            .btn-circle {
                width: 170px;
                height: 170px;
                line-height: 40px;
                padding:20px;
                border-radius: 50%;
                margin:80px;
{#                background-image: url "img/d3TjUpj-gradient-wallpaper.jpg";#}
            }

            div button a{
                font-size: 150%;
                color:black;
                font-weight:bold;
            }
        </style>
    </head>

    <body id="bg" style="background-image: url('{% static "img/d3TjUpj-gradient-wallpaper.jpg"%}')"/>

    <div class="container" align="center">
        <button type="button" class="btn btn-default btn-circle"><a href="#">예약하기</a></button>
        <button type="button" class="btn btn-default btn-circle"><a href="#">빌려주기</a></button>
        <button type="button" class="btn btn-default btn-circle"><a href="#">커뮤니티</a></button>
    </div>




{% endblock %}

